@model FlashcardsApp.Models.Deck

@{
    ViewData["Title"] = "Create Deck";
}

<h2>Create a new Deck</h2>

<form asp-controller="Decks" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary mt-2">Save</button>
    <a asp-action="Index" asp-controller="Decks" class="btn btn-sm btn-outline-primary">Cancel</a>
</form>

@section Scripts {
    @* @await Html.PartialAsync("_ValidationScriptsPartial") *@
}
